<ion-header translucent>
  <ion-toolbar color="tertiary" style="text-align: center;">
    <ion-title style="font-size: 26px;"><b>Welcome</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center; font-size:  17px; color: #551347;">
    <b>Choose an option</b>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <ion-button (click)="receving()">
            <ion-icon name="archive"></ion-icon> Receiving
          </ion-button>
          <ion-button (click)="adjust()">
            <ion-icon name="git-compare"></ion-icon> Adjust
          </ion-button>
          <ion-button (click)="audit()">
            <ion-icon name="checkmark"></ion-icon> Audit
          </ion-button> -->
          <ion-button (click)="pps()">
            <ion-icon name="cube-outline"></ion-icon>PPS
          </ion-button>
        </ion-col>
        <!-- <ion-col>
          <ion-button (click)="receving()">
            <ion-icon name="checkmark"></ion-icon> Audit
          </ion-button>
        </ion-col> -->

        <!-- </ion-row>
      <ion-row>
        <ion-col>
          <ion-button>
            <ion-icon name="git-compare"></ion-icon> Adjust
          </ion-button>
          <ion-button (click)="receving()">
            <ion-icon name="checkmark"></ion-icon> Audit
          </ion-button>
          
        
        </ion-col>
         -->
        <!-- <ion-col>
          <ion-button>
            <ion-icon name="git-compare"></ion-icon> Adjust
          </ion-button>
        </ion-col> -->
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>