<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-title><b>Totes</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ams-form" style="margin-top: 2px;">
        <form [formGroup]="formGroup">
          <ion-grid>
            <ion-row>
              <ion-col class="ion-align-self-center">
                  <p class="message" [innerHTML]= "message"></p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <pistola-lp [myForm]="formGroup" label="Tote" nameControl="tote"
                (sendMessage)="validateTote($event)" [emptyLP]='true' #tote>
              </pistola-lp>
             </ion-col>
            </ion-row>
            <ion-row>
                <ion-chip color="secondary" *ngFor="let tote of totes">
                  <ion-label  >{{tote.name}}</ion-label>
                </ion-chip>
            </ion-row> 
            <ion-row *ngIf="totes.length > 0"><ion-col>
              <ion-button color="primary" expand="block" (click)="goToPick()">Go to Pick</ion-button>
        </ion-col></ion-row>
          </ion-grid>
        </form>
  </div>
</ion-content>