.login-logo {
  padding: 20px 0;
  //min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}
ion-content {
  --background:#dcdce6;
}

ion-button {
  --background:#551347;
  --color: #b5e4ea;
}

h3 {
  --background:#551347;
  --color: #b5e4ea;
}
