/*ion-header{ 
  ion-toolbar{ 
    --background: #b5e4ea;
    --color: #2c1728 !important;   
    
  }
}*/
ion-menu {
  ion-header{ 
    --background: #2c1728 ;
    ion-toolbar{ 
      --background: #2c1728;
      --color: #FFFFFF !important;   
      
    }
  }

  ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background: #5d3154;
  }

  ion-footer {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background: #5d3154;
  }

  /*ion-footer {
    background: none;
    ion-grid {      
      background: #5d3154;
      ion-row {      
        background: #5d3154;
        ion-col {      
          background: #5d3154;
          ion-item {      
            --transition: none;
          --background: #5d3154;
          color: #b5e4ea;
          }
        }
      }
    }
  }*/
  
ion-list.list-md {
      background: #5d3154;
    }

  ion-list {
    padding: 20px 0;
    --background: #5d3154;
    ion-list-header {
      --background: #5d3154;
      color: hsla(0,0%,100%,.5)!important;
      padding-left: 18px;
      padding-right: 18px;  
      text-transform: uppercase;
      letter-spacing: .1em;
      font-weight: 450;
    }

    ion-item {
      --transition: none;
      ion-icon{ 
       color: #b5e4ea;
      }
     }

    ion-menu-toggle{
      ion-item.item {
        --background: #5d3154;
        --color: #b5e4ea;
        --padding-start: 18px;  
        margin-right: 10px;  
        border-radius: 0 50px 50px 0;  
        font-weight: 500;
      }
    
      ion-item.selected {
        --background: #b5e4ea!important;
        --color: #5d3154;
        ion-icon{ 
          color: #5d3154;
         }
      }
    }
  }


  
}



.ams-form {
  margin-top: 40px;
  width: 95%;
  //margin: auto;

  ion-input{
    
  font-size: 14px;
  }

  ion-item {
      background-color: rgba(var(--ion-color-primary-rgb), 0.05);
      --background: none;
      
      --background-focused: rgb(53, 70, 98);
      border-radius: 10px;
      padding: 3px 2px !important;
      margin-top: 20px;
      border: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;

      .item-native {
          --background: none !important;
      }

      & ion-select-option{
          margin-left: auto;
          max-width: unset;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 0;

          .select {
              max-width: 100%;
              .select-text {
                  font-size: 1.35rem;
              }
          }
      }
      &.item-input {
          .text-input::placeholder {
              color: #78927e !important;
              font-size: 1.3rem;
          }
      }

      .label {
          font-size: 1.35rem;
          font-weight: 400;
          color: #78927e;
          flex: unset;
      }
  }
}
.message{
  background-color: #5d3154;
  color:#b5e4ea ;   
  //color:#514a66 ; 
  padding-inline: 13px;
  user-select: text;  
  font-size: larger; 
  margin-top: 15px; 
  word-break:keep-all;
  text-align: center;
  border-radius: 6px;
}

.itemNumber{
  font-size: 24px;
}

