.split0{
    background-color: rgb(167, 172, 167);
    color: black;
    border-radius: 17px;  
    font: bolder;
}

.split1{
    background-color: rgb(131, 218, 131);
    color: black;
    border-radius: 17px;  
    font: bolder;
}

.split2{
    background-color: rgb(255, 109, 109); 
    color: black;
    border-radius: 17px;  
    font: bolder;
}

.split3{
    background-color: rgb(236, 255, 109); 
    color: black;
    border-radius: 17px;  
    font: bolder;
}

.split4{
    background-color: rgb(255, 109, 253); 
    color: black;
    border-radius: 17px;  
    font: bolder;
}